table {
  width: 100%;
  /*padding-left: 10px;*/
}

table.main th {
  border-bottom-width: 2px;
}

td.wordDetails {
  padding: 0 !important;
}

td.wordDetails tr {
  background-color: #f0f0f0
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


tr:not(.mat-header-row):not(.word-details-row) {
  cursor: pointer;
}

tr.word-details-row {
  height: 0;
}
