table {
  width: 100%;
}

td.mat-cell, th.mat-header-cell {
  padding-left: 7px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-icon.disabled {
  color: #aaa;
}

th:nth-child(1) {
  width: 10%;
}

th:nth-child(2) {
  width: 80%;
}

th:nth-child(n+3) {
  width: 5%;
}

tr:not(.mat-header-row):hover {
  cursor: pointer;
  background-color: #eee;
}

td:last-child {
  padding-right: 7px !important;
  text-align: center;
}

td:last-child:hover {
  cursor: pointer;
  background-color: #aaa;
}

.searchInput {
  width: 300px;
  padding-left: 5px;
  float: left;
}

.visibilityInput {
  float: right;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #777;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
  background-color: #333;
}

mat-slide-toggle {
  margin-left: 20px;
}

mat-slide-toggle mat-icon {
  padding-top: 4px;
}

mat-icon.quiz {
  height: auto;
  width: auto;
  font-size: 13px;
}
