table {
  width: 100%;
}

td.mat-cell, th.mat-header-cell {
  padding-left: 7px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-icon.disabled {
  color: #aaa;
}

th:nth-child(1) {
  width: 10%;
}

th:nth-child(2) {
  width: 80%;
}

th:nth-child(n+3) {
  width: 5%;
}

tr:not(.mat-header-row):hover {
  cursor: pointer;
  background-color: #eee;
}

td:last-child {
  padding-right: 7px !important;
  text-align: center;
  background-color: #fff;
}


td:last-child:hover {
  cursor: pointer;
  background-color: #aaa;
}

mat-form-field.search {
  width: 300px;
}

mat-slide-toggle {
  margin-left: 20px;
}

mat-slide-toggle mat-icon {
  padding-top: 4px;
}
