<h1 mat-dialog-title>{{data.word}}</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <div *ngFor="let translation of data.translations"
       class="translation"
       (click)="toggleSelection(data.word, translation)">
    <mat-icon [ngClass]="{'hidden': !isSelected(data.word, translation)}">school</mat-icon>{{translation}}
  </div>
  <div *ngIf="data.translations.length === 0" align="center">¯\_(ツ)_/¯</div>
  <mat-divider></mat-divider>
  <div *ngFor="let groupWord of data.groupOccurrences | keys" class="groupMember">
    <mat-icon [ngClass]="{'hidden': !isAnySelected(groupWord)}">school</mat-icon><span [ngClass]="{'current': groupWord === data.word}"
          (click)="redirectTo(groupWord)">{{groupWord}}</span>: {{data.groupOccurrences[groupWord]}}
  </div>
  <mat-divider></mat-divider>
  <!--<mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectedTabIndex = $event">-->
  <!--<mat-tab label="{{data.word}}">-->

  <!--&lt;!&ndash; TODO: add "+" button to enable input for custom translation &ndash;&gt;-->
  <!--&lt;!&ndash; TODO: to add a word to practice just show checkboxes with icons like a "bag" and to not require any submit button, OK will be the only button... &ndash;&gt;-->
  <!--</mat-tab>-->
  <!--&lt;!&ndash; TODO: show group members on the same (single) tab below translations for given one and mark those ones that are selected for practice! Highlight the current one with bold&ndash;&gt;-->
  <!--<mat-tab label="{{data.groupOccurrence}}">-->
  <!--<div *ngFor="let groupWord of data.groupOccurrences | keys">-->
  <!--<span class="clickable" (click)="redirectTo(groupWord)">{{groupWord}}</span>: {{data.groupOccurrences[groupWord]}}-->
  <!--</div>-->
  <!--</mat-tab>-->
  <!--</mat-tab-group>-->
  <!--&lt;!&ndash;<form>&ndash;&gt;-->
  <!--<mat-form-field>-->
  <!--<input matInput [(ngModel)]="credentials.username" placeholder="Enter your username">-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
  <!--<input matInput [(ngModel)]="credentials.password" placeholder="Enter your password">-->
  <!--</mat-form-field>-->
  <!--&lt;!&ndash;</form>&ndash;&gt;-->

  <!-- TODO: Make multitab
  1 - Translation (icon = earth)
  2 - Occurrence (icon = magnifier) OR Related words and an icont with multiple bodies (like a family)!!!!!
  3 - Practice / Learn (icon = hat) // here you can mark it as ignored as well (TODO: not sure this is needed on this screen, ignored should be managed on book statistics only since it is the only screen where ignorance is needed can can be understood by user...

  When a user clicks on a word/translation/group item he is redirected to practice tab with the given selection.
  Practice word can be associated with book name (as a tag) and on a Practice screen the user is able to select practice set
  -->
  <!--<mat-accordion>-->
  <!--<mat-expansion-panel >-->
  <!--<mat-expansion-panel-header>-->
  <!--<mat-panel-title>-->
  <!--Occurrence-->
  <!--</mat-panel-title>-->
  <!--<mat-panel-description>-->
  <!--<b>{{data.groupOccurrence}}</b>({{data.occurrence}})-->
  <!--</mat-panel-description>-->
  <!--</mat-expansion-panel-header>-->
  <!--<div *ngFor="let groupWord of data.groupOccurrences | keys">-->
  <!--{{groupWord}}: {{data.groupOccurrences[groupWord]}}-->
  <!--</div>-->
  <!--</mat-expansion-panel>-->
  <!--</mat-accordion>-->

</div>
<div mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]>OK</button>
</div>
