::ng-deep .mat-tab-label {
  min-width: 0 !important;
  height: 30px !important;
}

::ng-deep .mat-dialog-title {
  margin-bottom: 5px !important;
}

::ng-deep .mat-divider {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.translation mat-icon, .groupMember mat-icon {
  padding-right: 5px;
}

.translation, .groupMember {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.translation mat-icon.hidden, .groupMember mat-icon.hidden {
  visibility: hidden;
}

.groupMember .current {
  font-weight: bold;
}
