::ng-deep .mat-tab-label  {
  min-width: 0 !important;
  height: 30px !important;
}

::ng-deep .mat-dialog-title {
  margin-bottom: 5px !important;
}

::ng-deep .mat-divider {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.translation, .groupMember {
  cursor: pointer;
}

.translation.selected {
  background-color: darkseagreen;
}

.groupMember.selected {
  font-weight: bold;
}
