<app-iconbar>
  <mat-icon [routerLink]="['/quiz', 'uniform']"
            routerLinkActive="active"
            matTooltip="Uniform"
            [matTooltipShowDelay]="500">repeat
  </mat-icon>
  <mat-icon [routerLink]="['/quiz', 'random']"
            routerLinkActive="active"
            matTooltip="Random"
            [matTooltipShowDelay]="500">shuffle
  </mat-icon>
  <mat-icon [routerLink]="['/quiz', 'ordered']"
            routerLinkActive="active"
            matTooltip="Ordered"
            [matTooltipShowDelay]="500">replay
  </mat-icon>
  <mat-icon [routerLink]="['/data', 'selected']" class="bottom">list</mat-icon>
  <mat-icon (click)="!isQuizEmpty() && delete()" class="bottom" [class.disabled]="isQuizEmpty()">delete</mat-icon>
  <div *ngIf="isQuizEmpty()" class="quiz">
    You have not selected any words for quiz
  </div>
  <div *ngIf="!isQuizEmpty()" class="quiz">
    <div class="inputs">
      <div class="source">
        {{getTranslationKey()}}
      </div>
      <div class="input">
        <mat-form-field>
          <input matInput #input [(ngModel)]="inputTranslation" (keydown)="onKeyDown($event)"/>
        </mat-form-field>
      </div>
      <div class="output">
        <div *ngIf="isHintVisible()" class="hint">{{getTranslationValue()}}</div>
        <div *ngIf="!isHintVisible()">
          <div *ngIf="isResult('pass')" class="pass"><span class="pass">{{getTranslationValue()}}</span></div>
          <div *ngIf="isResult('check')" class="{{matchResult.isFullMatch() ? 'yes' : 'no'}}">
            <!--<div *ngIf="isResult('check')" [ngClass]="{'yes': matchResult.isFullMatch(), 'no': !matchResult.isFullMatch()}">-->
            <span *ngIf="matchResult.missingPrefix" class="no">(?)</span>
            <span *ngFor="let char of matchResult.chars; let index = index"
                  [ngClass]="{'yes': matchResult.matches[index], 'no': !matchResult.matches[index]}">{{char}}</span>
            <span *ngIf="matchResult.missingSuffix" class="no">(?)</span>
          </div>
        </div>
      </div>
    </div>
    <div id="commands">
      <button mat-button (click)="back()" matTooltip="Shift+Tab">Back</button>&nbsp;
      <button mat-button (click)="next()" matTooltip="Tab">Next</button>&nbsp;
      <button mat-button (click)="check()" matTooltip="Enter">Check</button>&nbsp;
      <button mat-button (click)="pass()" matTooltip="Ctrl+Enter">Pass</button>&nbsp;
      <button mat-button (click)="hint()" matTooltip="Ctrl+Space">Hint</button>&nbsp;
    </div>
  </div>
</app-iconbar>
