table {
  width: 100%;
}

.mat-elevation-z8 {
  margin: 10px;
}

th:first-child {
  width: 50px;
}

th:last-child {
  width: 30px;
}

.mat-form-field.search {
  width: 350px;
  margin-left: 10px;
}

tr:not(.mat-header-row):hover {
  cursor: pointer;
  background-color: #eee;
}

.buttons {
  float: right;
  margin: 10px;
}

::ng-deep .buttons .mat-icon {
  padding: 13px;
  margin: 0;
  background-color: white;
}

::ng-deep .buttons .mat-icon:hover {
  cursor: pointer;
}

::ng-deep .buttons .mat-icon:not(.disabled):hover {
  background-color: #ccc;
}

::ng-deep .buttons .mat-icon.active:not(:hover) {
  background-color: #eee;
}

::ng-deep .buttons .mat-icon.disabled {
  color: #aaa;
}
