<div>
  <!-- TODO: bind delete and add handlers -->
  <mat-icon class="right" [class.disabled]="!isAnySelected()" (click)="isAnySelected() && removeFromHidden()">delete_forever</mat-icon>
  <!-- TODO: for create popup add an autocomplete feature based on known words. Also consider multiple items to be added at once -->
  <mat-icon class="right" (click)="openWordHiddenEnterDialog()">create</mat-icon>
  <mat-form-field class="left">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="word">
    <th mat-header-cell *matHeaderCellDef>Word</th>
    <td mat-cell *matCellDef="let word">{{word}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
  </tr>
</table>
<mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
