<p>
  iconbar works!
</p>

<ng-content select="mat-icon"></ng-content>
<!--<ng-content></ng-content>-->

<!--<ng-container *ngFor="let icon of icons">-->
  <!--&lt;!&ndash;<ng-container *ngComponentOutlet="icon">&ndash;&gt;-->
  <!--<ng-container [ngTemplateOutlet]="icon">-->
  <!--</ng-container>-->
<!--</ng-container>-->
<!--<mat-tab-group>-->
<!--<mat-tab *ngFor="let tab of icons">-->
<!--<ng-container *ngComponentOutlet="tab.component">-->
<!--</ng-container>-->
<!--</mat-tab>-->
<!--</mat-tab-group>-->
