<!--<nav>-->
<!--&lt;!&ndash; TODO: place them on a modal dialog &ndash;&gt;-->
<!--<a routerLink="./upload">Upload</a>-->
<!--<a routerLink="./enter">Enter</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
<!--<p>-->
<!--book works!-->
<!--</p>-->
<!--<router-outlet></router-outlet>-->
<!--<div class="title-wrapper">-->
<!--<div class="title">-->
<!--<span class="name">{{getBookId()}}</span>-->
<!--<mat-icon [routerLink]="['/books', getBookId()]">local_library</mat-icon>-->
<!--<mat-icon [routerLink]="['/books', getBookId(), 'statistics']">list</mat-icon>-->
<!--</div>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
<mat-sidenav-container autosize>
  <!--<mat-sidenav #bookOptions mode="side" opened disableClose class="book-options" (click)="bookOptions.toggle()">-->
  <mat-sidenav mode="side" opened disableClose class="book-options" [fixedInViewport]="true"
               [fixedTopGap]="65">
    <div [ngClass]="{'bookMode': true, 'selected': isMode('pages')}" [routerLink]="['/books', getBookId()]">
      <mat-icon>local_library</mat-icon>
    </div>
    <div [ngClass]="{'bookMode': true, 'selected': isMode('statistics')}"
         [routerLink]="['/books', getBookId(), 'statistics']">
      <mat-icon>list</mat-icon>
    </div>
    <!-- TODO: implement Delete icon!!! -->
    <div class="bottom">
      <mat-icon (click)="deleteBook()">delete</mat-icon>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet (activate)="setMode($event)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
