::ng-deep .mat-drawer-container {
  background-color: white;
}
.name {
  font-size: 20px;
  font-weight: bold;
}

.bookMode.selected {
  background-color: #f0f0f0;
}

.bottom {
  position: fixed;
  bottom: 20px;
}

mat-icon {
  margin: 2px;
  padding: 2px;
  cursor: pointer;
  background-color: white;
}

mat-sidenav-content {
  padding: 10px 0 0 10px;
}
