<h1 mat-dialog-title>Change password</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="oldPassword" placeholder="Old password" required>
    <mat-error *ngIf="oldPassword.hasError('required')">
      The input is required
    </mat-error>
    <mat-error *ngIf="oldPassword.hasError('rejected')">
      Old password is incorrect
    </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput [formControl]="newPassword" placeholder="New password" required>
    <mat-error *ngIf="newPassword.hasError('required')">
      The input is required
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button (click)="changePassword()" [disabled]="!oldPassword.value || !newPassword.value">Submit</button>
</div>
