<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <input matInput [formControl]="username" placeholder="Username" required>
      <mat-error *ngIf="username.hasError('required')">
        The input is required
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput [formControl]="password" placeholder="Password" required>
      <mat-error *ngIf="password.hasError('required')">
        The input is required
      </mat-error>
      <mat-error *ngIf="password.hasError('rejected')">
        Login failed
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button (click)="login()" [disabled]="!username.value || !password.value">Login</button>
</div>
