<h1 mat-dialog-title>{{word}}</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <div *ngFor="let translation of translations" class="translation" (click)="toggleSelection(word, translation)">
    <mat-icon [class.hidden]="!isSelected(word, translation)">school</mat-icon>
    {{translation}}
  </div>
  <div *ngIf="translations.length === 0" align="center">¯\_(ツ)_/¯</div>
  <mat-divider></mat-divider>
  <div *ngFor="let groupWord of groupOccurrences | keys" class="groupMember" (click)="redirectTo(groupWord)">
    <mat-icon [class.hidden]="!isSelected(groupWord)">school</mat-icon>
    <span [class.current]="groupWord === word">{{groupWord}}</span>: {{groupOccurrences[groupWord]}}
  </div>
  <mat-divider></mat-divider>
</div>
<div mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]>OK</button>
</div>
