::ng-deep .mat-tab-label {
  min-width: 0 !important;
  height: 30px !important;
}

::ng-deep .mat-dialog-title {
  margin-bottom: 5px !important;
}

::ng-deep .mat-divider {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

mat-icon {
  padding-right: 5px;
}

.groupMember mat-icon {
  transform: scale(0.75);
}

.translation, .groupMember {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.translation:hover, .groupMember:hover {
  background-color: #f0f0f0;
}

.hidden {
  visibility: hidden;
}

.groupMember .current {
  font-weight: bold;
}
