<h1 mat-dialog-title>New hidden</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <input type="text" placeholder="Word" matInput [formControl]="word" required [matAutocomplete]="auto">
      <mat-error *ngIf="word.hasError('required')">
        The input is required
      </mat-error>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button [mat-dialog-close]="word.value" [disabled]="word.invalid">OK</button>
</div>
