mat-toolbar {
  height: 50px;
  padding: 0;
}

mat-toolbar .mainMenuItem {
  height: 100%;
}

mat-toolbar .mainMenuItem.home, mat-toolbar .mainMenuItem.data {
  min-width: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

mat-toolbar .authUser {
  margin: 5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
}

mat-toolbar .authUser mat-icon {
  padding-right: 5px;
}

mat-toolbar .authUser {
  display: flex;
  align-items: center;
}

.activeBook {
  font-weight: bold;
}

.fill-remaining-space {
  text-align: center;
  flex: 1 1 auto;
}

::ng-deep .mat-snack-bar-container {
  background-color: #ddd;
  text-align: center;
}
