<mat-toolbar>
  <button mat-button [routerLink]="['/']" class="mainMenuItem home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="bookMenu" class="mainMenuItem">Book</button>
  <input type="file" hidden #bookUpload (change)="uploadBook($event.target.files.item(0)); bookUpload.value=''">
  <mat-menu #bookMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item (click)="bookUpload.click()">Open...</button>
      <mat-divider></mat-divider>
      <button mat-menu-item [matMenuTriggerFor]="bookSavedMenu">Saved</button>
      <mat-divider *ngIf="hasActiveBook()"></mat-divider>
      <button class="activeBook" mat-menu-item *ngIf="hasActiveBook()" [routerLink]="['/books', getActiveBookName()]">
        {{getActiveBookName()}}
      </button>
    </ng-template>
  </mat-menu>
  <mat-menu #bookSavedMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item *ngIf="!hasSavedBooks()" disabled>(None)</button>
      <button mat-menu-item *ngFor="let bookName of getRecentSavedBookNames()" (click)="openBook(bookName)">{{bookName}}
      </button>
      <mat-divider *ngIf="hasNonRecentSavedBooks()"></mat-divider>
      <button mat-menu-item *ngIf="hasNonRecentSavedBooks()" (click)="openBooksDialog()">Show All...</button>
    </ng-template>
  </mat-menu>

  <button mat-button class="mainMenuItem" routerLink="/quiz">Quiz</button>

  <span class="fill-remaining-space">{{title}}</span>

  <button mat-button class="mainMenuItem data" routerLink="/data"
          [matTooltip]="isAuthenticated() ? 'Online data' : 'Offline data'">
    <mat-icon>{{isAuthenticated() ? 'cloud_done' : 'cloud_off'}}</mat-icon>
  </button>

  <button *ngIf="!isAuthenticated()" mat-button class="mainMenuItem" (click)="openLoginDialog()">Login</button>
  <button *ngIf="!isAuthenticated()" mat-button class="mainMenuItem" (click)="openRegistrationDialog()">Register
  </button>
  <button *ngIf="isAuthenticated()" mat-button class="mainMenuItem" [matMenuTriggerFor]="userMenu">
    <mat-icon>account_box</mat-icon>
    {{getAuthUser()}}
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
    <button mat-menu-item routerLink="/settings">Settings...</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
