<mat-toolbar>
  <button mat-button [routerLink]="['/']" class="mainMenuItem home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="bookMenu" class="mainMenuItem">Book</button>
  <input type="file" hidden #bookUpload (change)="uploadBook($event.target.files.item(0)); bookUpload.value=''">
  <mat-menu #bookMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item (click)="bookUpload.click()">Open...</button>
      <!-- TODO: 1) disable saved if not logged in -->
      <mat-divider></mat-divider>
      <button mat-menu-item [matMenuTriggerFor]="bookSavedMenu">Saved</button>
      <mat-divider *ngIf="hasActiveBook()"></mat-divider>
      <button class="activeBook" mat-menu-item *ngIf="hasActiveBook()" [routerLink]="['/books', getActiveBookId()]">
        {{getActiveBookId()}}
      </button>
    </ng-template>
  </mat-menu>
  <mat-menu #bookSavedMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item *ngIf="!hasSavedBooks()" disabled>(None)</button>
      <button mat-menu-item *ngFor="let bookId of getRecentSavedBookIds()" (click)="openBook(bookId)">{{bookId}}
      </button>
      <mat-divider *ngIf="hasNonRecentSavedBooks()"></mat-divider>
      <button mat-menu-item *ngIf="hasNonRecentSavedBooks()" (click)="openBooksDialog()">Show All...</button>
    </ng-template>
  </mat-menu>

  <button mat-button class="mainMenuItem" routerLink="/quiz">Quiz</button>

  <span class="fill-remaining-space">{{title}}</span>

  <button mat-button class="mainMenuItem" routerLink="/data">
    <!-- TODO: find true icon names -->
    <mat-icon>{{isAuthenticated() ? 'online' : 'offline'}}</mat-icon>
  </button>

  <button *ngIf="!isAuthenticated()" mat-button class="mainMenuItem" (click)="openLoginDialog()">Login</button>
  <button *ngIf="!isAuthenticated()" mat-button class="mainMenuItem" (click)="openRegistrationDialog()">Register
  </button>
  <button *ngIf="isAuthenticated()" mat-button class="mainMenuItem" [matMenuTriggerFor]="userMenu">
    <mat-icon>account_box</mat-icon>
    {{getAuthUser()}}
  </button>
  <!-- TODO: create Settings page with tabs: Account, Data -->
  <!-- TODO: redirect to Data tabs (Books (read icon), Quiz (school icon), Hidden (eye icon) from different places -->
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
    <!-- TODO: implement SettingsGuard what checks isAuthenticated() -->
    <button mat-menu-item routerLink="/settings">Settings...</button>
  </mat-menu>
</mat-toolbar>
<!-- TODO: create default home page with a list of saved books /books
book -> saved -> top ten sorted by recent activity and All... pointed to home page /books
-->
<router-outlet></router-outlet>
