<div>
  <span>{{getTranslationKey()}}</span>
</div>

<div>
  <mat-form-field>
    <input matInput #input [(ngModel)]="inputTranslation" placeholder="Translate" (keydown)="onKeyDown($event)"/>
  </mat-form-field>
  <span [hidden]="!isHintVisible()" class="hint">{{getTranslationValue()}}</span>
</div>

<div>
  <span *ngIf="isResult('pass')" class="pass">{{getTranslationValue()}}</span>
  <span *ngIf="isResult('check')">
    <span *ngIf="matchResult.missingPrefix" class="no">(?)</span>
    <span *ngFor="let char of matchResult.chars; let index = index" [ngClass]="{'yes': matchResult.matches[index], 'no': !matchResult.matches[index]}">{{char}}</span>
    <span *ngIf="matchResult.missingSuffix" class="no">(?)</span>
  </span>
</div>

<div id="commands">
  <button mat-button (click)="back()" matTooltip="Shift+Tab">Back</button>&nbsp;
  <button mat-button (click)="next()" matTooltip="Tab">Next</button>&nbsp;
  <button mat-button (click)="check()" matTooltip="Enter">Check</button>&nbsp;
  <button mat-button (click)="pass()" matTooltip="Ctrl+Enter">Pass</button>&nbsp;
  <button mat-button (click)="hint()" matTooltip="Ctrl+Space">Hint</button>&nbsp;
</div>

<div id="options">
  <mat-form-field>
    <mat-select [(value)]="sequenceMode" placeholder="Sequence mode">
      <mat-option *ngFor="let mode of sequenceModes | keys" [value]="mode">
        {{sequenceModes[mode]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <span>{{getCounter()}}</span>
</div>

