div.yes {
  background-color: #efe;
}

div.no {
  background-color: #fee;
}

span.yes {
  color: green;
}

span.no {
  color: red;
}

span.pass {
  color: blue;
}

button {
  text-decoration: underline;
}

button:hover {
  text-decoration: none;
}

#commands, #options {
  margin-top: 15pt;
}

.study {
  text-align: center;
}

.inputs {
  display: inline-block;
  text-align: left;
  width: 180px;
  font-size: 16pt;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hint {
  opacity: 0.25;
}

.source {
  margin-top: 20pt;
  font-weight: bold;
}

.output {
  height: 20pt;
}

span.counter {
  margin-left: 10pt;
}
