.yes{color: green;}
.no{color: red;}
.pass{color: blue;}
#commands {
  margin-top: 10px;
}
#options {
  margin-top: 10px;
}

button {
  margin: 5px;
  background-color: #f0f0f0;
}

input {
  border: black 1px;
}

/*.hint {*/

  /*opacity: 0.25;*/
/*}*/
