.reader {
  text-align: center;
}

div.page {
  font-family: monospace;
  white-space: pre;
  width: 52ch;
  height: 36.5em;
  line-height: 1.5em;
  padding: 1em 1ch;
  border: #aaa solid 2px;
  overflow: hidden;
  margin: auto;
  text-align: left;
}

span.word:hover {
  background-color: #ddd;
  cursor: pointer;
}

.pageIndex {
  background-color: #eee;
}

.pageIndex, .pageIndexDelimiter {
  height: 30px;
  min-width: 40px;
  text-align: center;
  padding-top: 10px;
  margin: 0 1px 5px 2px;
  display: inline-block;
}

.pageIndexDelimiter {
  font-size: 20px;
}

.pageIndex.selected {
  font-weight: bold;
}

.pageIndex.selected:not(:hover) {
  background-color: #ddd;
}


.pageIndex:hover {
  cursor: pointer;
  background-color: #bbb;
}

::ng-deep .mat-tooltip  {
  white-space: pre;
  font-family: monospace;
}
