div.page {
  font-family: monospace;
  white-space: pre;
  width: 52ch;
  height: 36.5em;
  line-height: 1.5em;
  padding: 1em 1ch;
  border: #aaa solid 2px;
  overflow: hidden;

}

span.word:hover {
  background-color: #ddd;
  cursor: pointer;
}

span.pageIndex {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
  background-color: #ddd;
  border: #eee solid 2px;
  border-radius: 4px;
}

span.pageIndex.selected {
  background-color: #eee;
  border-color: #dedede;
}

::ng-deep .mat-tooltip  {
  white-space: pre;
  font-family: monospace;
}
