<div class="reader">
  <div>
    <ng-container *ngFor="let indexes of getPageNavigation(); let first = first">
      <div class="pageIndexDelimiter" *ngIf="!first">...</div>
      <div *ngFor="let index of indexes"
            class="pageIndex" [class.selected]="isPageIndexSelected(index)"
            [routerLink]="['../../pages', index + 1]">{{index + 1}}</div>
    </ng-container>
  </div>
  <div class="page" (wheel)="scrollPage($event)">
    <ng-container *ngFor="let line of getPageSelected()">
      <ng-container *ngFor="let token of line">
        <span *ngIf="!isWord(token)">{{token}}</span>
        <span *ngIf="isWord(token)" class="word" (click)="openWordDialog(token)"
        >{{token}}</span>
      </ng-container>
    </ng-container>
  </div>
</div>
