<div class="reader" *ngIf="isReady()">
  <div class="name">{{bookId}}</div>
  <!-- TODO: make page navigation via router link: /book/:bookId/pages/:pageId -->
  <div>
    <ng-container *ngFor="let indexes of getPageNavigation(); let first = first">
      <span *ngIf="!first">...</span>
      <span *ngFor="let index of indexes"
            [ngClass]="{'pageIndex': true, 'selected': isPageIndexSelected(index)}"
            [routerLink]="['/books', bookId, 'pages', index + 1]">{{index + 1}}</span>
    </ng-container>
  </div>
  <div class="page" (wheel)="scrollPage($event)">
    <ng-container *ngFor="let line of getPageSelected()">
      <ng-container *ngFor="let token of line">
        <span *ngIf="!isWord(token)">{{token}}</span>
        <span *ngIf="isWord(token)" class="word" (click)="openWordDialog(token)"
        >{{token}}</span>
      </ng-container>
    </ng-container>
  </div>
</div>
