<h1 mat-dialog-title>Login with existing account</h1>
<div mat-dialog-content>
  <div class="error">{{error}}</div>
  <mat-form-field>
    <input matInput [(ngModel)]="credentials.username" placeholder="Enter your username">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="credentials.password" placeholder="Enter your password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button (click)="login()">Login</button>
</div>
